*{
	padding:0px;
	margin:0px;
}
body{
	width:100%;
	height:100%;
	margin:auto;
	box-shadow:10px 10x 40px grey
}
header{
	border-bottom:1px solid #133783;
	height:82px;
	background:#415e9b;
}
.header-block{
	width:992px;
	margin:0 auto;
	padding-top:20px;
}
.logo{
	width:50%;
	float:left;
}
.facebook-login{
	width:50%;
	float:left;
}
.logo img{
	height:43px;
	width:180px;
	padding-top:10px;
	padding-bottom:20px;
}
.header-block label{
	color:#fff;
}
.email{
	float:left;
}
.email label{
	padding-bottom:10px;
}
.email input[type="text"]{
	height:20px;
	width:150px;
	border:1px solid #1d2a5b;
}
.password{
	float:left;
	margin-left:15px;
}
.password label{
	padding-bottom:10px;
}
.password input[type="text"]{
	height:20px;
	width:150px;
	border:1px solid #1d2a5b;
}
.password a{
	color:#8fb1d8;
	text-decoration:none;
}
.login-button{
	float:left;
	margin-top:20px;
	margin-left:20px;
}
.login-button input[type="submit"]{
	background:#4267b2;
	border:1px solid #29487d;
	border-radius:2px;
	color:#fff;
	height:20px;
	width:50px;
}
.clearflix{
	clear:both;
}
.content-block{
	width:992px;
	margin:0 auto;
}
.facebook-connect{
	margin-top:50px;
	float:left;
	width:50%;
}
.facebook-connect p{
	color:#0e385f;
	font-size:20px;
	font-weight:bold;
}
.facebook-connect img{
	margin-top:10px;
}
.create-account{
	float:left;
	width:50%;
}
.content-container{
	background:linear-gradient(#fff,#d9ddeb);
	overflow:hidden;
}
.create-account h2{
	font-size:40px;
}
.create-account .free{
	font-size:20px;
	margin-top:20px;
	margin-bottom:20px;
}
.account input[type="text"]{
	margin-bottom:15px;
	border-radius:5px;
	padding:10px;
	font-size:16px;
	border:1px solid #bdc7d8;
}
.account input[type="password"]{
	margin-bottom:15px;
	border-radius:5px;
	padding:10px;
	font-size:16px;
	margin-left:0px;
	border:1px solid #bdc7d8;
}
.account .mobile, .account .password{
	width:74% !important;
}
.account label{
	font-weight:bold;
	font-size:16px;
	margin-bottom:15px;
}
.account a{
	text-decoration:none;
	color:#3677bc;
}
.account input[type="radio"]{
	margin-top:20px;
	margin-bottom:20px;
}
.account .by-clicking{
	color:#77777a;
	font-size:12px;
}
.account input[type="submit"]{
	padding:8px 36px;
	background:linear-gradient(#95d67c,#65a953);
	border:1px solid #3b6e22;
	border-radius:5px;
	font-size:25px;
	color:#fff;
	margin-top:15px;
	margin-bottom:15px;
}
.why-do-i{
	font-size:12px;
}
#footer{
	width:100%;
	height:200px;
	text-align:center;	
}
#footer p{
	font-size:15px;
}
#footer p a{
	text-decoration:none;
}











